# Byte compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Pytest cache
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Packaging / build
*.egg-info/
build/
dist/

# Editor / IDE
.vscode/
.idea/
*.swp

# Temporary junk
*.tmp
*.log
